/* Container */
.landing-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; /* Adjust for consistent spacing */
  flex-wrap: wrap;
  margin: 3rem 2rem; /* Scalable margins */
  max-width: 100%;
}

/* Video Section */
.ion__landingintro-img {
  flex: 1 1 100%;
  max-width: 35rem;
  margin-top: -10rem;
}

.heroimage {
  width: 100%; /* Full width */
  max-width: 35rem; /* For larger screens */
  border-radius: 0.5rem; /* Rounded edges */
  margin-top: -5rem;
  mix-blend-mode: multiply;
  margin: 0 auto;
}

/* Text Section */
.landing__intro-section {
  flex: 1 1 100%; /* Flex-grow for smaller screens */
  max-width: 40rem;
  text-align: center;
  padding: 1rem; /* Padding for spacing */
}

.landing__intro-section h1 {
  font-size: clamp(2rem, 5vw, 2.5rem); /* Scalable text */
  margin-bottom: 1rem;
}

.landing__intro-section p {
  font-size: clamp(1rem, 3vw, 1.2rem);
  line-height: 1.6;
  font-weight: 400;
  color: var(--medium-gray);
  margin-top: 1rem;
}

.empowering-consultant {
  color: var(--bright-green);
}

.connecting-companies {
  color: var(--dark-blue);
}

/* Tablet View */
@media (max-width: 1024px) {
  .landing-intro {
    gap: 2rem;
    margin: 2rem 1rem;
  }

  .heroimage {
    max-width: 30rem;
    z-index: -999;
    display: block;
    margin: 0 auto;
  }

  .landing__intro-section p {
    font-size: 1rem;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .landing-intro {
    flex-direction: column; /* Stack content */
    align-items: center;
    margin: 2rem 1rem;
  }

  .heroimage {
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }

  .landing__intro-section h1 {
    font-size: 1.8rem;
  }

  .landing__intro-section p {
    font-size: 0.9rem;
  }
}

/* Small Mobile View */
@media (max-width: 480px) {
  .landing-intro {
    margin: 2rem 1rem;
  }

  .heroimage {
    max-width: 100%; /* Full-width image */
    display: block;
    margin: 2rem auto 0;
  }

  .landing__intro-section {
    padding: 0.5rem;
  }

  .landing__intro-section h1 {
    font-size: 1.5rem;
  }

  .landing__intro-section p {
    font-size: 0.85rem;
  }
}
